# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: Mistral Client
site_url: https://mydomain.org
repo_url: https://github.com/thomas-marquis/mistral-client
repo_name: thomas-marquis/mistral-client
site_author: Thomas Marquis
theme:
  name: material
  language: en
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.expand
    - toc.follow
    - search
    - search.suggest
    - navigation.footer
    - navigation.top
  favicon: assets/images/logo-tr.png
  logo: assets/images/logo-tr.png
  palette:
    - scheme: default
      media: "(prefers-color-scheme: light)"
      primary: amber
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      primary: amber
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption

nav:
  - Getting started: index.md
  - Features:
      - Chat completion: features/chat-completion.md
      - Embeddings: features/embeddings.md
      - Models: features/models.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/thomas-marquis
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/thomas-marquis-contact
plugins:
  - privacy:
      links_attr_map:
        target: _blank